<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
		{{#if user}}
			<li>
				<a class="navbar-header login-option" href="/{{user.type}}s/classes">Dashboard</a>
			</li>
			<li>
				<form class="navbar-form" method="get" action="/users/logout">
					<button type="submit" class="btn btn-success">Logout</button>
				</form>
			</li>
		{{else}}
			<li>
				<form class="navbar-form navbar-right" method="post" action="/users/login">
					<div class="form-group">
						<input type="text" class="form-control" name="email" value="{{email}}" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" value="{{password}}" name="password" id="inputEmail3" placeholder="Password">
					</div>
						<button type="submit" class="btn btn-success">Signin</button>
				</form>
			<li>
		{{/if}}
	</ul>
</div>