<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="jumbotron-text">WELCOME!</h1>
		<h2 class="jumbotron-text">We make learning easy.</h2>
		<h2 class="jumbotron-text">Register to become a student or a teacher.</h2><br>
		<p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Register &raquo;</a></p>
	</div>
</div>
