<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to eTeacher</h1>
		<p>Whether you're looking to learn something new or to share your knowledge, eTeacher makes learning fun and easy! Get started by clicking the register button below to signup as a student or a teacher!</p>
		<p><a class="btn btn-primary btn-lg" href="/users/register" role="button">Register &raquo;</a></p>
	</div>
</div>