body{
	background: #D7D4D4;
}

.jumbotron{
	color: #FDFDFD;
	text-align: center;
	margin-bottom: 0px;
	background: /*linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),*/url('../images/jumbo.jpg');
    background-size: 100% 100%;
}

.jumbotron > .container {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	text-shadow: 1px 1px #000;
}

.btn{
	border: .05px solid black;
}

.col-md-4{
	border: 3px solid #D7D4D4;
	border-radius: 10px;
	color: #FDFDFD;
	text-align: center;
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),url('../images/class3.png');
	background-size: 100% 100%;
    text-shadow: 1px 1px #000;
}

.description{
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}

footer{
	text-align: center;
}