body{
	background-color: #0CAEA4;
}

.jumbotron{
	background-color: #472167;
	color: #FDFDFD;
	text-align: center;
	margin-bottom: 0px;
}

.col-md-4{
	border: 1px solid black;
	border-radius: 10px;
	text-overflow: ellipsis;
	background-color: #A8D0C4;
	text-align: center;
}

.description{
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}